<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#59dfed"/>

  <link rel="icon" href="./images/icons/icon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="./images/icons/icon.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <title>Saan Mangiare</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav-bar></nav-bar>
  </header>
  <main id="main-content">
  </main>
  <footer>
    <foot-bar></foot-bar>
  </footer>
</body>

</html>